
.h1-container {
    margin-bottom: 0%;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, purple, pink);
    padding: 5px;
}

.search-label {
    font-weight: 500;
    font-size:25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-button {
    padding: 15px 20px;
}

.search-input {
    border-color: pink;
    border-width: thick;
    width: 70%;
    height: 45px;
    padding: 0 15px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}